html, body {
	margin:0;
	padding:0;
}

.content-wrapper {
	margin: 0 auto;
	width: 500px; 
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.side-bar {
	width: 100px; 
	background-color: white;
}
.side-bar a{
	display: block;
	width: 100%; 
	height:25px;
	margin:10px 0;
	text-align: center;
    text-decoration: none;
    border-radius: 5px;
    line-height: 25px;
    background-color: coral;
    color: white;
}
.side-bar a:hover{	
    background-color: #76d0ef;
	color: black;
}    
.calender {
	width: 350px; 
	background-color: white;
	
}

.upcomming {	
	padding:10px 10px;
    margin: 5px auto;
    width: 500px;
    background-color: white;
	box-sizing:border-box;
	border: 1px solid black;
}
}

#ta {
	z-index:10;
	display:block;
	height:200px;
	width:400px;
	opacity:100%;
	background:white;
	margin:0 auto;
}
.selector {
  height:25px;
  width:350px;
}

.cal {
	margin: 5px 0px;
  height:210px;
  width:350px;
  background: azure;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 1px solid gray;
}

.days {
 height:30px;
  width:50px;
  background: lightgrey;
  line-height: 33px;
  border: 0.5px solid grey;
  box-sizing: border-box;
  text-align: center;
 font-weight: bold; 
}

.cal-div {
 height:30px;
  width:50px;
  background: aliceblue;
  line-height: 33px;
  border: 0.5px solid grey;
  box-sizing: border-box;
  text-align: center;
	position:relative;
}

.today {
  height:30px;
  width:50px;
  background: skyblue;
  line-height: 33px;
  border: 0.5 solid grey;
  text-align: center;
  box-sizing: border-box;
  position:relative;
}
.action {
  height:25px;
  width:350px;
  display:flex;
  justify-content: space-between;
}
#monthandyear {
	margin: 0;
    text-align: center;
}
.bubble {font-size:10px;
  position:absolute;
  border-radius:50% 50%;
  top:0; left:35px;
  background: red;
  padding:5px;
  height:5px; line-height: 5px;
  width:5px;
  z-index:1;
  vertical-align:middle;
  color:white;
}

.bubble ul{list-style:none; 
  display:none; overflow: hidden;
  transition: height 0.5s;
  margin:0; padding:0;
  min-width: 100px;
  background:;
  border: 1px solid ;
  font-size:12px;
  font-weight:bold;
  border-radius:5px 5px;
  position:absolute;
  top:10px;
  max-height: 150px;
  overflow: auto;
  color:black;
}
.bubble:hover {
	z-index:32;
}

.bubble ul li{
  text-align:center;
  padding:5px 0;
  margin-bottom:2px;
  width: 100px;
  background:white;
  max-height: 15px;
  overflow: hidden;
  cursor:pointer;
}
.bubble ul li:hover{
  background-color:coral;
}

.bubble:hover > ul{
display:block;
}
.cellSpan{
	display:block;
	height:100%;
	width:100%;
}
.bubbleSpan{
	display:block;
	height:100%;
	width:100%;
	line-height:5px;
	font-weight:bold;
	vertical-align: middle;
	margin-bottom:7px;
}
.ul-left {
	left:-90px;
}
.ul-top {
	top:calc (0-height);
}
h4 {
	margin:0;
}
.display-div {
	width:80%;
	height:100px;
	overflow:auto;
	margin: 2px auto;
	padding:5px 10px;
	background: white;
	border-radius: 10px;
}
#display-h4 {
	border-bottom: 1px solid;
}
.lispan {
	display:inline-block;
	height:15px;
	width:90px;
	overflow:hidden;
	float:left;
	line-height: 15px;
}

.btn {
	border-radius: 5px;
	min-width: 80px;
	border: 1px solid skyblue;
    background-color: azure;
}
button:active {
	border-style:none;
}